<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulateur de Prêt</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>
</head>
<body class="bg-light">
    <header class="text-white py-3 shadow-sm fixed-top d-flex align-items-center px-3" style="background: linear-gradient(to right,#0d6efd,#0d6dfd51);">
        <div>
            <font size="4">Simulateur de Prêt&thinsp;</font> 
            <font size="1">Calculez vos mensualités et explorez vos options de financement</font>
        </div>
    </header>
    <div style="height: 90px;"></div> 
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card shadow p-4 mb-4 w-100">
                    <form id="loan-form" class="row">
                        <div class="col-md-12">
                            <label class="form-label"><font size="2">Montant du prêt (€) :</font></label>
                            <input type="number" id="montant" class="form-control" min="1" required>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label"><font size="2">Taux d'intérêt annuel (%) :</font></label>
                            <input type="number" id="taux_annuel" step="0.01" min="0" max="100" class="form-control" required>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label"><font size="2">Durée du prêt (années) :</font></label>
                            <input type="number" id="duree_annees" min="1" class="form-control" required>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button type="submit" class="btn btn-sm" style="background-color: #0d6dfdc4;color: #ffffff;"><font size="2">Simuler</font></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="card shadow p-3 mb-4">
                    <h5 class="text-center mb-2"><font size="3">Résultats</font></h5>
                    <div id="results" class="text-center">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="card text-black shadow-sm" style="background-color:#fefefe5a;">
                                    <div class="card-body">
                                        <h6 class="card-title"><font size="2">Montant emprunté</font></h6>
                                        <label class="card-text" id="montantEmprunte">0</label></br>
                                        <label class="text-black">€</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card text-black shadow-sm" style="background-color:#ffffff5a;">
                                    <div class="card-body">
                                        <h6 class="card-title"><font size="2">Total des intérêts</font></h6>
                                        <label class="card-text" id="totalInterets">0</label></br>
                                        <label class="text-black">€</label>
                                    </div>
                                </div>
                            </div>    
                            <div class="col-md-6 mb-3">
                                <div class="card text-black shadow-sm" style="background-color:#ffffff5a;">
                                    <div class="card-body">
                                        <h6 class="card-title"><font size="2">Mensualité</font></h6>
                                        <label class="card-text" id="mensualite">0</label></br>
                                        <label class="text-black">€</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card text-black shadow-sm" style="background-color:#fd390d52;">
                                    <div class="card-body">
                                        <h6 class="card-title"><font size="2">Coût total de l'emprunt</font></h6>
                                        <label class="card-text" id="coutTotal">0</label></br>
                                        <label class="text-black">€</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card shadow p-4 mb-4">
                    <h4 class="text-center"><font size="3">Répartition Capital vs Intérêts</font></h4>
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow p-4 mb-4">
                    <h4 class="text-center"><font size="3">Évolution du remboursement</font></h4>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>

        <div class="card shadow p-4 mb-4">
            <div>
                <div><h4 class="text-center"><font size="3">Tableau d’Amortissement</font></h4></div>
                <div ><button id="dwnldTable" class="btn btn-sm btn-success"><font size="2">Télécharger</font></button></div>
            </div>
            
            <div class="table-responsive mt-2">
                <table class="table table-bordered table-striped" id="amortissementTable">
                    <thead>
                        <tr>
                            <th style="font-weight: normal;"><font size="2">Mois</font></th>
                            <th style="font-weight: normal;"><font size="2">Mensualité</font></th>
                            <th style="font-weight: normal;"><font size="2">Intérêts</font></th>
                            <th style="font-weight: normal;"><font size="2">Capital remboursé</font></th>
                            <th style="font-weight: normal;"><font size="2">Capital restant</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="5" class="text-center"><font size="2">Veuillez remplir le formulaire pour voir les résultats.</font></td></tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <button id="seeMoreButton" class="btn btn-sm btn-secondary"><font size="2">Voir plus</font></button>
            </div>
        </div>

        <div class="card shadow p-4 mb-4">
            <h4 class="text-center mb-3"><font size="3">Alternatives à l’emprunt</font></h4>
            <p class="text-center"><font size="2">Vous avez désormais une vision claire du coût de votre emprunt. Mais saviez-vous qu'il existe une <b>alternative pour atteindre vos objectifs financiers sans avoir à emprunter</b> ? Une option simple et efficace à considérer : épargner.</font></p>
            <div class="text-center">
                <button onclick="calculerEpargneInvestissement()" class="btn btn-sm btn-info"><font size="2">En savoir +</font></button>
            </div>
            
            <div id="solutions"  class="mt-2" style="display: none;">
            <!-- <div id="solutions" class="mt-2"> -->
                <div class="alert alert-info" role="alert">
                    <h5><font size="3">Épargne mensuelle nécessaire</font></h5>
                    <p>
                        <font size="2">Si vous épargnez sans rendement, vous devrez mettre de côté <strong id="epargneMensuelle">...</strong> € chaque mois pendant 
                        <select id="annee_emprunt" class="form-select-sm d-inline-block w-auto mx-2">
                            <option value="3"><font size="2">3 Ans</option>
                            <option value="5" selected>5 Ans</option>
                            <option value="7">7 Ans</option>
                        </select> pour épargner <font id="montantESP"></font> €.
                        </font>
                    </p>
                </div>
                
                <div class="alert alert-info" role="alert">
                    <h5>
                        <font size="3">Investissement avec rendement</font>   
                                                  
                    </h5>
                    <label for="tauxRendement">Taux de rendement annuel :</label>
                    <select id="tauxRendement" class="form-select-sm d-inline-block w-auto mx-2">
                        <option value="3">3% (faible risque)</option>
                        <option value="5" selected>5% (équilibré)</option>
                        <option value="7">7% (plus risqué)</option>
                    </select>
                    <p>
                        Avec un rendement de <strong id="tauxSelectionne">5%</strong>, vous devriez investir 
                        <strong id="investMensuel">...</strong> € par mois pendant 
                        <select id="annee_invest" class="form-select-sm d-inline-block w-auto mx-2">
                            <option value="3">3 Ans</option>
                            <option value="5" selected>5 Ans</option>
                            <option value="7">7 Ans</option>
                        </select> pour épargner <font id="montantESP2"></font> €.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    
    <script>
        const header = document.querySelector("header");
        const startFade = 100; // Position en pixels où commence la disparition
        const endFade = 300; // Position en pixels où l'opacité devient 0
    
        window.addEventListener("scroll", function () {
            let scrollY = window.scrollY;
    
            if (scrollY < startFade) {
                header.style.opacity = "1"; // 100% visible
            } else if (scrollY > endFade) {
                header.style.opacity = "0"; // Complètement invisible
            } else {
                let opacity = 1 - (scrollY - startFade) / (endFade - startFade);
                header.style.opacity = opacity;
            }
        });
    </script>

    <script src="/static/js/app.js"></script>
</body>
</html>
